<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.committee == true %}
            {% if page.title != "Committee" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/committee">Committee</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.program == true %}
            {% if page.title != "Program" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/program">Program</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.info == true %}
            {% if page.title != "Information" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/info">Information</a>
                </li>
            {% endif %}
        {% endif %}

    </ul>
</nav>
